:root {
    /* overscroll-behavior: none; */
    --background: #fff;
    --main: #000;
    --highlight: #F3F2F2;
    --margin: 15px;
    --borderW: 2px;
    /* Shop elements */
    --bgColor-modal: #F3F2F2;
    --bgColor-default: #F3F2F2;
    --color-link: #000;
    --color-link-hover: #000;
    --color-buttonDanger: #000;
    --color-buttonPrimary: #000;
    --color-buttonPrimary-hover: #000;
    --color-buttonPrimary-active: #000;
    --bgColor-buttonPrimary-hover: #fff;
    --shadow-buttonPrimary-hover: none;
    --color-buttonSecondary: #000;
    --color-buttonSecondary-hover: #000;
    --color-buttonSecondary-active: #000;
    --color-inputIcon-focus: #000;
    --borderColor-default: #000;
    --bgColor-alt: #F3F2F2;
    /* --bgColor-alt: #Fff; */
    --bgColor-buttonPrimary: #F3F2F2;
    --bgColor-buttonDanger: #F3F2F2;
    --bgColor-buttonSecondary: #F3F2F2;
    --borderColor-input-checked: #000;
    --bgColor-input-checked: #000;
    /* --borderColor-input: #000; */
    --borderColor-input-focus: #000;
    --borderColor-input-hover: #000;
    --bgColor-input: #F3F2F2;
    --borderColor-input: #000;
    --bgColor-input-autofill: #F3F2F2;
    --shadow-default: none;
    --shadow-input-hover: none;
    --shadow-input-focus: none;
}

@font-face {
    font-family: 'Korpus Grotesk';
    src: url('fonts/Korpus-Grotesk-C-webfont.woff2') format('woff2'),
        url('fonts/Korpus-Grotesk-C-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Korpus A';
    src: url('fonts/Korpus-A.woff2') format('woff2'),
        url('fonts/Korpus-A.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Korpus B';
    src: url('fonts/Korpus-B.woff2') format('woff2'),
        url('fonts/Korpus-B.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Korpus A10';
    src: url('fonts/Korpus-A10.woff2') format('woff2'),
        url('fonts/Korpus-A10.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

html {
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--main);
    /* -ms-overflow-style: none; */
    scrollbar-width: none;
    font-size: 14px;
}


html::-webkit-scrollbar { display: none;}
body>*::-webkit-scrollbar { display: none;}
body { margin: 0;}
body>* { margin: 0; scrollbar-width: none;}
*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Main Styling */
h1, h2{
    font-family: 'Korpus Grotesk', sans-serif;
    text-transform: uppercase;
}
h1{  font-size: 2.134rem; font-weight: normal; margin: 0;}
.main-menu h1 {line-height: 0.7;}
h2{ font-size: 1.4em; font-weight: normal; }
h3{ font-family: 'Korpus Grotesk', serif; font-size: 1.4rem; font-weight: normal;}
p{ font-family: 'Korpus A', serif; font-size: 1rem; line-height: 1.2;}
.content .column strong {font-family: 'Korpus B';}
em{font-family: 'Korpus A10';}

a{color: inherit;}
.menu a, .title a {text-decoration: none;}
p a, li a{font-family: 'Korpus A', serif;}
p a:hover, li a:hover{text-decoration: none; font-family: 'Korpus A10', serif; font-style: italic;}

.active, .menu a:hover, .title:hover{background-color: var(--highlight);}

/* Layout */
.main-container {
    /* display: grid; */
    min-height: 100vh;
    /* grid-template-columns: 50px calc(100vw - 50px); */
    /* grid-template-rows: 50px 35px auto; */
    /* grid-template-areas:
        "title main-menu"
        "title sub-menu"
        "title content"; */
}

.main-container > * { background-color: var(--background);}
.main-container.artists {border-bottom: solid var(--borderW) var(--main); min-height: calc(100vh + var(--borderW));}

/* Title */
.title {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    position: fixed;
    top: 0;
    height: 100vh;
    border-left: solid var(--borderW) var(--main);
    width: 50px;
    display: flex;
    align-items: center;
}
.title a {
    height: 100%;
    display: flex;
    align-items: center;
}
.title .title-cont{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}
.title h1 { 
    margin: var(--margin) 0; 
    position: relative;
}
.title.home{pointer-events: none;}
 /* Keyframe Animation */
 @keyframes slideUp {
     0% {transform: translateY(-200%);}
     100% { transform: translateY(61%); }}
@keyframes fadeOut {
     0% {opacity: 1;}
     80% { opacity: 1;}
     100% {opacity: 0;}}

.animate-title h1 { animation: slideUp 5s ease-in-out forwards;}
.animate-title h1::after {
    content: ' - ARTIST EDITION';
    white-space: nowrap;
    opacity: 1;
    animation: fadeOut 5s ease-in-out forwards;
    display: inline-block;
}

/* NEWS CONTAINER */
.news-container {
    position: fixed;
    top: 50vh;
    right: 5vw;
    z-index: 2;
    background-color: var(--background);
    padding: 20px;
    width: 25%;
    border: 2px solid var(--main);
    max-height: 40vh;
    overflow-y: scroll;
    display: none;
}
.news-container.shown{display: block;}
.news-container .button{float: right; padding-top: 2px;}

/* MAIN MENU */
.menu-container{
    position: fixed;
    transition: top 0.3s;
    z-index: 1;
    margin-left: 50px;
    width: calc(100% - 50px);
}
.main.menu-container{height: 50px; top: 0;}
.sub.menu-container{height: 35px; top: 50px;}
.menu{
    display: inline-flex;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: var(--borderW) solid var(--main);
}
.menu a, .menu .no-link, .snipcart-checkout-box {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 var(--margin);
}
.menu a{border-right: var(--borderW) solid var(--main);}
.menu .no-link{width: 100%;}
.menu > a:nth-last-of-type(1), .snisnipcart-checkout-box:not(.hidden){
    flex-grow: 2;
    border-right: none;
}
.main-menu > a:nth-last-of-type(1), .snisnipcart-checkout-box{
    align-self: flex-end;
    justify-content: flex-end;
}
/* ---MOBILE MENU */
.mobile-menu-button{
    display: none; height: 100%; align-items: center; z-index: 1;
    padding-left: var(--margin);
    width: 100%;
    transition: top 0.3s;
}
.mobile-menu-button:hover{cursor: pointer; background-color: var(--highlight);}
/* CONTENT LAYOUT */
.content{
    min-height: calc(100vh - 85px); 
    margin-left: 50px;
    padding-top: 85px;
    padding-bottom: 35px;
    overscroll-behavior: none;
}
/* ---GRID LAYOUT */
.content.gral-info, .content.project{
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: var(--borderW) solid var(--main);
    /* gap: var(--margin); */
    padding-bottom: 0;
    min-height: auto;
    height: fit-content;
}
.content.artists{padding-top: 50px;}
.column{position: relative; height: fit-content; padding: var(--margin);}
.col-2{
    border-left: var(--borderW) solid var(--main);
    min-height: calc(100vh + 15px);
    margin-top: -100px;
    padding-top: calc(100px + var(--margin));
}
.column.col-2 :first-child { margin-top: 0;}
.col-2 h2{ margin: 0; font-size: 1.4rem; font-family: 'Korpus A', serif; text-transform: none;}
.col-2 h3{ margin-top: 3px; margin-bottom: 0; font-size: 1.4rem; font-family: 'Korpus A10', serif; font-style: italic;}
.col-2 p {margin: var(--margin) 0; min-height: var(--margin); font-size: 1.4rem;}
.read-more{font-size: 1.4rem; text-decoration:underline; cursor: pointer;}
p.price{margin-bottom: 45px;}
/* .content.gral-info .col-2 p:last-of-type {margin-bottom: 45px;} */
.more-info{display: none;}
.more-info.visible{display: block;}
.col-2 a:not(.button-link):hover, .read-more:hover{ text-decoration: none; font-style: italic;}
.square-bordered, #snipcart button{
    width: fit-content;
    padding: 0 5px;
    font-size: 21px;
    background-color: var(--background);
    border: var(--borderW) solid var(--main);
    text-transform: uppercase;
}
.col-2 .extra-content{
    margin-left: -15px !important;
    width: calc(100% + (var(--margin)*2));
    margin-top: 15px;
}
.col-2 .subheader {
    font-family: 'Korpus Grotesk', serif;
    text-transform: uppercase;
    border-bottom: var(--borderW) solid var(--main);
    padding: 10px var(--margin);
    line-height: 0.7;
    background-color: var(--highlight);
}
.col-2 .subheader:first-of-type{border-top: var(--borderW) solid var(--main);}
.col-2 .extra-item{
    border-bottom: var(--borderW) solid var(--main);
    padding: var(--margin);
}
.col-2 .extra-item *{margin: 0;}
.col-2 .extra-item h2:not(:first-child) { margin-top: var(--margin);}
.col-2 .extra-item a:hover{font-style: normal;}
.col-2 .extra-item.related-project *{font-family: 'Korpus Grotesk' !important;}
.extra-item .column-item {
    width: 100%;
    margin: 0;
    margin-bottom: var(--margin);
}
.extra-item .column-item .image{ width: 100%;}
.extra-item h2 {text-transform: uppercase;}
.extra-item a {text-decoration: none;}
.extra-item:hover {background-color: var(--highlight);}
.extra-item a:hover {font-style: normal;}

.square-bordered h2 {margin: 0; font-size: 1rem; font-family: 'Korpus Grotesk';}
.controllers{
    position: absolute; 
    bottom: 0; 
    right: 0;
    display: flex;
    gap: var(--margin);
    padding: var(--margin);
}
.controllers .square-bordered {padding: 5px;}
.square-bordered.button:hover{background-color: var(--highlight);}
.square-bordered.button a {text-decoration: none;}
.artist{margin-bottom: 0;}
.artist a {font-size: 1.4em;}
h3.edition-title{margin-top: 0;}


/* Artists work list */
.moreBy{
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
}

/* ---GALLERY */
.column.col-1.gallery{
    display: flex;
    gap: var(--margin);
    flex-wrap: wrap;
    border-right: var(--borderW) solid var(--main);
    margin-right: calc(var(--borderW) * -1);
}
.gallery-image{margin: 0; display: none; flex-direction: column; justify-content: space-between;}
.gallery-image a{cursor: zoom-in; text-decoration: none;}
.gallery-image.landscape{ width: 100%;}
.gallery-image.portrait{ width:calc(50% - (var(--margin)/2));}
.gallery-image.shown{display: flex;}
.gallery-image .image{width: 100%;}
.caption{text-align: right;
    padding-left: 15%;
    padding-top: 5px;
    min-height: 15px;
    font-size: 0.9rem;
}
.caption * {margin: 0;}
.gallery-controllers {position: absolute; bottom: var(--margin); display: flex; gap: var(--margin);}
.gallery-controllers span:hover{cursor: pointer; font-family: 'Korpus A10', serif;}

.gallery-image .square-bordered{
    display: none;
    align-self: flex-end;
    margin: var(--margin);
    cursor: pointer;
}

/* ---LIGHTBOX */
.content.media-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: center;
    position: absolute;
    height: 100vh;
    margin-left: 0;
}
.content.media-file .square-bordered.button{position: fixed; z-index: 2; right: 0; top: 0; margin: var(--margin); padding: 5px;}
.content.media-file .lightbox-controllers {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: var(--margin);
}
.content.media-file .lightbox-controllers span {display: inline-block; min-width: var(--margin);}
.content.media-file .lightbox-controllers a {text-decoration: none;}
.content.media-file .lightbox{ position: relative; height: calc(100% - 30px); margin: var(--margin);margin-bottom: 0; cursor: zoom-in;}
.content.media-file .lightbox.zoomed{transform: scale(2); cursor: zoom-out;}
.content.media-file .lightbox img {max-height: 100%; max-width: 100%;}
.content.media-file .lightbox figcaption {font-size: 0.8rem; text-align: right; margin-top: 10px;}

.content.media-file .big-controllers {
    position: fixed;
    /* z-index: -1; */
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
}

.content.media-file .big-controllers span {
    display: initial;
    display: inline flow-root list-item;
    width: 50%;
    display: inline-block;
    height: 100vh;
}
.content.media-file .big-controllers span a {
    width: 100%;
    display: inline-block;
    height: 100%;
}
.content.media-file .big-controllers span.previous a{cursor: w-resize}
.content.media-file .big-controllers span.next a{cursor: e-resize}

/* ---FLEX LAYOUT */
.content.project-collection{
    /* height: calc(100vh - 0px);
    overflow-y: scroll; */
    display: flex;
    flex-wrap: wrap;
}

/* FLEX EDITIONS LAYOUT */
.content.project-collection .item { 
    border-bottom: var(--borderW) solid var(--main);
    border-top: var(--borderW) solid var(--main);
    border-left: var(--borderW) solid var(--main);
    margin-top: -2px;
    margin-left: -2px;
    /* height: 710px; */
    /* max-height: 710px; */
    text-decoration: none;
}
.content.project-collection > .item.expand{flex-grow: 1;}
/* .content.project-collection > .item.expand ~ .item.expand{flex-grow: initial;} */
.content.project-collection .item:last-child {
    flex-grow: 2;
    border-right: none;
}
.content.project-collection .item:hover{background-color: var(--highlight);}
.edition-item {
    margin: 0;
    position: relative;
    padding: var(--margin);
    height: 100%;
    /* height: fit-content; */
    gap: var(--margin);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.edition-title{text-align: left;}
.edition-item.portrait .edition-title{max-width: 385px;}
.edition-item.landscape .edition-title{max-width: 770px;}
.edition-title * {margin: 0;}
.edition-title h2:not(:first-child){margin-top: var(--margin);}
.edition-title p {font-size: 1rem; font-family: 'Korpus Grotesk', sans-serif;}
.edition-item .image.portrait { 
    width: 385px;
    max-height: 530px;
    object-fit: cover;
}
.edition-item .image.landscape { 
    width: 770px;
    min-height: 530px;
    object-fit: cover;
}
.edition-item .image.back{position: absolute; opacity: 0;}
.edition-item .image.back:hover{opacity: 1;}

/* FOOTER */
.footer {
    margin-left: 50px;
    padding: 45px 15px;
}
.footer *{font-family: 'Korpus Grotesk', sans-serif; font-size: 1.5rem; margin: 0;}
.footer a{text-decoration: none;}
.footer a:hover{font-style: normal; font-family: inherit;}
/* ---SHOP ELEMENTS */
html.snipcart-sidecart--opened .main-container, html.snipcart-cart--opened .main-container{pointer-events: none;}
.snipcart h1 {
    font-family: "Korpus Grotesk", sans-serif !important;
    font-size: 21px;
    font-weight: normal;
}
#snipcart button{padding: 0 5px; font-family: 'Korpus Grotesk', sans-serif; border-radius: 0; cursor: pointer;}
#snipcart button.snipcart-button-icon {
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--highlight);
    cursor: pointer;
}
.snipcart-button-icon{border-radius: 0;}
.snipcart-checkout-box{border-left: var(--main) var(--borderW) solid; background-color: var(--background);}
.snipcart-checkout-box:hover{background-color: var(--highlight);}
.snipcart-checkout {
    background-color: unset;
    border: none;
    cursor: pointer;
}
.snipcart-checkout-box.hidden{display: none;}
.snipcart__box--badge, .snipcart-form__separator {display: none;}
.snipcart-input, .snipcart-textbox, .snipcart-form__address-autocomplete>.snipcart-textbox { height: 35px;}
.snipcart-input{border: none;}
.snipcart-form__label{
    font-family: 'Korpus A';
    font-size: 21px;
    margin-bottom: 0;
}
.snipcart-input__input, .snipcart-textbox { 
    border: var(--borderW) solid var(--main);
    font-family: 'Korpus A';
    font-size: 21px;
}
.snipcart-checkbox+label::before{border: var(--borderW) solid var(--main); border-radius: 0;}
.snipcart-form-radio+label::before{border: var(--borderW) solid var(--main);}
.snipcart-form-radio:checked+label::after, .snipcart-checkbox:checked+label::after { content: none;}
.snipcart-typeahead__suggestions{border-width: var(--borderW);}
.snipcart-typeahead__suggestion {
    font-family: 'Korpus A';
    border-bottom: var(--borderW) solid var(--main);
    font-size: 1.4rem;
}
.snipcart-payment-card-form iframe{width: 99%;}
.snipcart-item-line__product {
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin) * 2);
    font-family: "Korpus A", serif;
    font-size: 1.4rem;
}
.snipcart-item-line__header {   
    font-family: 'Korpus B';
    text-transform: uppercase;
}
.snipcart-item-line__content h2 {text-transform: capitalize;}
.snipcart-item-line__content h2:not(:first-child) {margin-top: calc(var(--margin) * 3);}
.snipcart-item-line__content h3 {font-family: 'Korpus A10'; font-style: italic;}
.snipcart-item-line__footer {
    display: flex;
    flex-direction: column;
}
.snipcart-flash-message--error, .snipcart-flash-message--info {border: var(--borderW) solid var(--main);}

/* SNIPCART SIDECART MODAL */
html.snipcart-sidecart--opened .snipcart-cart--edit .snipcart-cart__content{justify-content: flex-start; color: var(--main);}
html.snipcart-sidecart--opened .snipcart__font--secondary{font-family: 'Korpus A';}
html.snipcart-sidecart--opened .snipcart-item-line--cart-edit{border-bottom:  var(--borderW) solid var(--main);}
html.snipcart-sidecart--opened .snipcart-add-item.square-bordered.button { margin-top: calc(var(--margin) * 2);}
html.snipcart-sidecart--opened .snipcart-cart__secondary-header {
    padding: 0 var(--margin) !important;
    min-height: 50px;
    color: var(--main);
}

html.snipcart-sidecart--opened .snipcart-cart__secondary-header h1 {
    font-size: 2.134rem;
    color: var(--main);
    order: 2;
    text-align: right;
}
html.snipcart-sidecart--opened .snipcart-cart__secondary-header button{padding: 5px 10px !important; padding-top: 7px !important;}
html.snipcart-sidecart--opened .snipcart-cart__secondary-header button, .snipcart-cart__footer-buttons button {
    background-color: var(--highlight) !important;
}
html.snipcart-sidecart--opened .snipcart-cart__secondary-header button svg {display: none;}
html.snipcart-sidecart--opened .snipcart-cart__secondary-header button::before {content: '✕';}
html.snipcart-sidecart--opened .snipcart-item-line .snipcart-button-icon.is-danger{
    font-family: "Korpus Grotesk";
    font-size: 1.1rem;
}
html.snipcart-sidecart--opened .snipcart-item-line__container {
    padding: var(--margin);
    margin-bottom: 0;
}
html.snipcart-sidecart--opened .snipcart-item-line__container{border-bottom: var(--main) solid var(--borderW);}
html.snipcart-sidecart--opened .snipcart-cart-summary-side .snipcart-cart__footer {padding: 0;}
html.snipcart-sidecart--opened .snipcart-item-line__footer .snipcart-button-icon{align-self: flex-end;}
html.snipcart-sidecart--opened .snipcart-item-line .snipcart-button-icon.is-danger .snipcart__icon {display: none;}
html.snipcart-sidecart--opened .snipcart-item-line .snipcart-button-icon.is-danger::after {content: "DELETE FROM CART";}
html.snipcart-sidecart--opened .snipcart__subtotal-footer {
    font-size: 1.4rem;
    font-family: 'Korpus B';
    padding: var(--margin) 0;

}
html.snipcart-sidecart--opened .snipcart__subtotal-footer .snipcart__amount-values {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--margin);
}
html.snipcart-sidecart--opened .snipcart__subtotal-footer .snipcart__amount-values.snipcart__total{
    border-bottom: var(--main) var(--borderW) solid;
    border-top: var(--main) var(--borderW) solid;
    height: 35px;
    margin-top: var(--margin);
    padding: 6px var(--margin);
}
html.snipcart-sidecart--opened .snipcart__subtotal-footer h2{text-transform: none;}
html.snipcart-sidecart--opened .snipcart-base-button__icon {display: none;}

html.snipcart-sidecart--opened .snipcart-base-button__label {
    font-size: 1.4rem;
    margin-left: 0 !important;
    font-family: 'Korpus Grotesk';
    font-weight: lighter;
    text-transform: uppercase;
    padding: 5px;
}
html.snipcart-sidecart--opened .snipcart-cart__footer-buttons {
    float: right;
    margin-right: var(--margin);
    min-height: 65px;
}
html.snipcart-sidecart--opened .snipcart-cart__footer-buttons .snipcart-button-link{display: none;}
@media (min-width: 768px) {
    html.snipcart-sidecart--opened .snipcart-cart-summary--edit.snipcart-modal__container {
        width: 35%;
        width: calc(100% / 3);
        border-left: solid var(--borderW) var(--main);
    }
    html.snipcart-cart--opened .snipcart-layout__content {
        width: 100%;
        margin: 0;
    }
    html.snipcart-cart--opened .snipcart-layout__col--large{border-right: var(--borderW) var(--main) solid;}
}
/* FULL CART OPENED */
html.snipcart-cart--opened #snipcart button{padding-top: 3px; background-color: var(--highlight);}
html.snipcart-cart--opened .snipcart-modal__container{
    width: calc(85vw + 1px);
    height: 85vh;
    min-height: 85vh;
    top: calc((15vh /2) - 1px);
    border: var(--main) solid var(--borderW);
}
html.snipcart-cart--opened .snipcart-layout--large {left: calc((15vw /2) - 1px);}
html.snipcart-cart--opened .snipcart-checkout__header {
    margin: 0; 
    border-bottom: var(--main) solid var(--borderW);
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: var(--highlight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    min-height: 50px;
}
html.snipcart-cart--opened .snipcart-button-link{
    font-size: 15px !important;
    font-weight: 400;
}
html.snipcart-cart--opened .snipcart-checkout__header button{ padding-top: 3px !important;}
html.snipcart-cart--opened .snipcart-checkout__header button h1{line-height: 1.2;}
html.snipcart-cart--opened .snipcart-checkout__header .shop-header-title{font-size: 32px;}
html.snipcart-cart--opened .snipcart-layout__col, html.snipcart-cart--opened .snipcart-layout__col--large {
    margin: 0;
    min-height: calc(85vh - 58px);
}
html.snipcart-cart--opened .snipcart-checkout-step, html.snipcart-cart--opened .snipcart__box{ border-bottom: var(--borderW) var(--main) solid;}
html.snipcart-cart--opened .snipcart-layout__col> :last-child, .snipcart-cart--opened #snipcart-checkout-step-payment .snipcart__box { border-bottom: none;}
html.snipcart-cart--opened .snipcart__box{ margin: 0; padding: var(--margin);}
html.snipcart-cart--opened .snipcart__box *{ font-family: 'Korpus A'; font-size: 21px; font-weight: normal;}
html.snipcart-cart--opened .snipcart-checkout-step{ padding-bottom: 0; border-bottom: none;}
html.snipcart-cart--opened .snipcart-checkout-step__icon, .snipcart__notice__icon{ display: none;}

html.snipcart-cart--opened .snipcart-shipping-rates-list-item{
    margin-bottom: 15px;
    padding: 0;
    border: none;
}
html.snipcart-cart--opened .snipcart-shipping-rates-list-item--highlight,
html.snipcart-cart--opened .snipcart-shipping-rates-list-item:focus-within
{border: none;}
html.snipcart-cart--opened .snipcart-shipping-rates-list-item .shipping-price{text-align: right;}
.snipcart-cart-summary {
    font-family: 'Korpus A';
    font-size: 21px;
}
html.snipcart-cart--opened .snipcart-cart-summary-items-list { max-height: fit-content;}
html.snipcart-cart--opened .snipcart-cart-summary-item { margin-right: 0;}
html.snipcart-cart--opened .snipcart-cart-summary__separator{
    border-top: var(--main) solid var(--borderW);
    width: calc(100% + 33px);
    margin: 15px 15px 15px -15px;
}
html.snipcart-cart--opened .snipcart__subtotal-footer{
    font-family: 'Korpus B';
    font-size: 21px;
}
html.snipcart-cart--opened .snipcart__subtotal-footer .snipcart__amount-values {
    display: flex;
    justify-content: space-between;
}

html.snipcart-cart--opened .snipcart__subtotal-footer .snipcart__amount-values.snipcart__total {
    margin-top: var(--margin);
}
html.snipcart-cart--opened .snipcart-cart-summary__content {
    padding: 15px;
    border-bottom: var(--main) solid var(--borderW);
}
html.snipcart-cart--opened .snipcart-cart-summary__content .snipcart-button-link{display: none;}
html.snipcart-cart--opened .snipcart-featured-payment-methods--no-background {margin: 30px;}
html.snipcart-cart--opened .snipcart-base-button__icon {display: none;}
html.snipcart-cart--opened .snipcart-base-button__label {margin-left: 0 !important; padding: 5px; font-family: 'Korpus Grotesk';}


/* ------ MEDIA QUERIES --------- */
/* medium desktop screen (2 item) */
/* @media screen and (max-width: 1300px) {
    .project-collection .item:nth-child(2n), .project-collection .item.landscape {
            flex-grow: 2;
            border-right: none;
        }
} */
/* small desktop screen (1 item) */
@media screen and (max-width: 935px) {
    .menu{flex-wrap: wrap; border-bottom: none;}
    .menu a,
    .menu .no-link{border-bottom: var(--borderW) solid var(--main);}
    .menu a:nth-child(4){flex-grow: 2; border-right: none;}
    .main-container{grid-template-rows: 100px 35px auto;}
    .main-menu.menu{height: 50px;}
    .main.menu-container a:not(.active) {background-color: var(--background);}
    .main.menu-container a:hover{background-color: var(--highlight);}
    .sub.menu-container{top: 95px; border-top: var(--borderW) solid var(--main);}
    .main-menu.menu a:last-child{border-top: 2px solid var(--main);}
    .content{padding-top: 130px;}
    .content.artists{padding-top: 100px;}
    .content.project-collection a {
        flex-grow: 2;
        border-right: none;
    }
    .content.project-collection>.item.expand{flex-grow: inherit;}
}
/* SNIPCART */
@media screen and (max-width: 1025px) {
    html.snipcart-cart--opened .snipcart-modal__container {left: 7.5vw;}
    html.snipcart-cart--opened .snipcart-item-line__footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    html.snipcart-cart--opened .snipcart__subtotal-footer {margin: 0 15px;}
    html.snipcart-cart--opened .shop-hearder {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 15px;
        min-height: fit-content;
    }
    html.snipcart-cart--opened.shop-header-title {font-size: 32px !important; }
    html.snipcart-cart--opened .shop-hearder.snipcart-checkout__header{
        margin: 0;
        padding: 15px;
    }
    html.snipcart-cart--opened .snipcart-item-line__container {
        padding: 0;
        padding: 15px !important;
        border-bottom: 2px solid;
    }

    html.snipcart-cart--opened .snipcart-item-list { margin-bottom: 0;}
    html.snipcart-cart--opened .snipcart-cart__footer-buttons {margin: 0 15px;}
    html.snipcart-cart--opened .snipcart-cart__footer-buttons .snipcart-button-primary {margin-left: calc(100% - 126px);}
    html.snipcart-cart--opened .snipcart-cart__footer-buttons .snipcart-button-primary .snipcart-base-button__label {font-size: 21px;}
    html.snipcart-cart--opened .snipcart-cart__featured-payment-methods-container{margin-top: 0;}
    html.snipcart-cart--opened .snipcart-featured-payment-methods{
        border-top: 2px solid;
        margin-top: 15px;
        margin-bottom: 0;
    }
    html.snipcart-cart--opened .snipcart-featured-payment-methods__title{top: 15px;}
    html.snipcart-cart--opened .snipcart-featured-payment-methods__list {margin-top: 15px;}

    html.snipcart-cart--opened .snipcart-layout__content{margin-top: 15px;}
    html.snipcart-cart--opened .snipcart-layout__col--large { border-right: 0;}
}
@media screen and (max-width: 841px) {
    .menu a:nth-child(3){flex-grow: 2; border-right: none;}
}
/* mobiles */
@media screen and (max-width: 805px) {
    /* html{font-size: 0.6em;} */
    .news-container {width: 55%;}
    .main-container {
        overflow-x: clip;
        grid-template-columns: 100vw;
        grid-template-rows: 50px 35px auto;
        grid-template-areas:
            "title"
            "menu-button"
            "content";
    }
    .main-container.open {
        grid-template-rows: 50px 35px 285px auto;
        position: fixed;
        grid-template-areas:
            "title"
            "menu-button"
            "main-menu"
            "content";
    }

    .main-container.open .content{pointer-events: none;}
    .main-container.open .content .artists-list{opacity: 0.3;}
    .main-container.open .content::after {
        content: '';
        background-color: var(--background);
        position: fixed;
        width: 100vw;
        height: 100vh;
        opacity: 0.7;
    }

    .title{
        width: 100%;
        writing-mode: initial; 
        -webkit-writing-mode: initial; 
        transform: none; 
        height: 50px;
        z-index: 2;
        border-bottom: var(--borderW) solid var(--main);
        border-left: none;
    }
    .title .title-cont{ justify-content: center; height: 100%;}
    .title h1{ margin: 0 var(--margin);}
    .menu-container{display: none;}
    .main.menu-container{top: 100px;}
    .menu {border-bottom: none;}
    .menu a {width: 100%; border-bottom: var(--borderW) solid var(--main); border-right: none;}
    .main-menu.menu a:last-child{border: none;}
    .mobile-menu-button {
        display: flex;
        grid-area: menu-button;
        height: 50px;
        position: fixed;
        border-bottom: var(--borderW) solid var(--main);
        top: 50px;
        background-color: var(--highlight);
    }
    .main-container.open .main.menu-container {
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: var(--borderW) solid var(--main);
    }
    .main-container.open .sub.menu-container {
        position: relative;
        top: 0;
        margin-left: 0;
        display: block; 
        width: 100%; 
        height: 35px;
    }
    .main.menu-container a:not(.active) {background-color: var(--background);}
    .sub-menu.menu a {border-right: 2px solid var(--main); width: fit-content;}
    .sub-menu.menu a:last-child {border-right: none; border-bottom: 2px solid var(--main);}
    .menu .no-link {border-bottom:var(--borderW) solid var(--main);}
    .content{margin-left: 0; padding-top: 100px;}
    .content.project-collection .item{min-width: auto; width: 51%; height: auto; max-height: fit-content;}
    .content .col-2{margin-top: 0; border-left: none; min-height: fit-content; padding-top: var(--margin); flex-grow: 1;}
    .content.gral-info .col-2 {padding-bottom: 0;}
    /* .content .col-2 .controllers{position: fixed;} */
    .column.col-1.gallery{padding-right: var(--margin); border-bottom: var(--borderW) solid var(--main);}
    .content.gral-info .gallery-image.portrait, 
    .edition-item .image.portrait,
    .edition-item .image.landscape {width: 100%; object-fit: contain; max-height: fit-content;}
    .edition-item .image.back {width: calc(100% - 30px);}
    .content.gral-info,
    .content.project{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        /* grid-template-columns: auto; 
        grid-template-rows: max-content; */
    }
    .content.gral-info .extra-item:last-of-type { border: none;}
    .content.media-file .lightbox { height: fit-content;}
    .gallery-controllers{ bottom: -1%; font-size: 1rem;}
    .caption{padding-left: 0; padding-top: 0;}
    .gallery-controllers .prev{margin-right: var(--margin);}
    .content.artists .artists-list li {padding: 8px 0;}
    .content.artists .artists-list a {height: fit-content; min-height: 50px;}
    .footer{margin-left: 0;}
    /* SNIPCART */
    html.snipcart-cart--opened .snipcart-modal__container {left: 0;}
    html.snipcart-sidecart--opened .main-container,
    html.snipcart-cart--opened .main-container {
        pointer-events: all;
    }
    .snipcart-checkout{
        color: var(--main);
        width: 100%;
        text-align: right;
        padding: 0;
    }
    .snipcart-checkout-box {
        border-left: none;
        width: 100%;
        border-bottom: var(--borderW) solid var(--main);
        background-color: var(--background);
        text-align: right;
        align-self: flex-end;
        justify-content: flex-end;
    }
    html.snipcart-cart--opened .snipcart-modal__container{
        width: calc(100% + 1px);
        min-height: 100vh;
        top: inherit;
        border: 0;
        border-bottom: var(--borderW) solid var(--main);
    }
    html.snipcart-cart--opened .snipcart-layout__col,
    html.snipcart-cart--opened .snipcart-layout__col--large{padding-bottom: 15vh;}
    html.snipcart-cart--opened .snipcart-layout--large {left: 0;}
    .shop-hearder {
        display: flex;
        justify-content: space-between;
        margin: var(--margin);
    }
    .shop-hearder button{
        padding: 4px 6px;
        margin-top: -10px;
    }
    .snipcart-item-line__container { padding: var(--margin); margin: 0; }
    .snipcart-item-line__container:not(:last-child) { border-bottom: var(--main) solid var(--borderW);}
    .snipcart-item-line__footer button{ align-self: flex-end;}
    .snipcart-cart__footer { padding: 0;}
    html.snipcart-cart--opened .snipcart__subtotal-footer {
        margin: 0;
        border-top: none;
        padding: 15px;
        border-bottom: var(--borderW) solid var(--main);
    }
    html.snipcart-cart--opened .snipcart-cart__footer-buttons{margin: 0;}
    #snipcart .snipcart-cart__footer-buttons button{
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: none;
        margin: 0;
    }
    .snipcart-base-button__label {font-size: 32px;}
    .snipcart-featured-payment-methods-container{transform: scale(0.8);}
    html.snipcart-cart--opened .snipcart-featured-payment-methods {border-top: none;}
}